.signIn {
  background-image: url('../../assets/images/tong-hop-hinh-nen-background-vector-designer-dep-do-phan-giai-fhd-2k-4k-moi-nhat-4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  @include styleCenterItem;
  &__form {
    @include styleCenTerMargin(70%);
    box-shadow: 5px 4px 20px 0px $color-white-0;
    height: auto;
    &__left {
      width: 100%;
      height: auto;
      background-image: url('../../assets/images/img.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      img {
        @include styleImage(20%, auto);
        @include stylePositionAbsolute(auto, auto, 5px, 5px);
        background-color: black;
        display: block;
      }
    }
    &__right {
      &__content {
        @include styleCenTerMargin(80%);
        form {
          width: 100%;
          margin-top: 20px;
          button {
            width: 100%;
          }
        }
        p {
          text-align: center;
          color: red;
          margin-left: 20%;
        }
        .img {
          @include styleCenterItem;
          padding: 15px 0 0;
          img {
            width: 30%;
          }
        }
      }
    }
    input {
      padding: 3px !important;
    }
  }
}
@media only screen and (max-width: 991px) {
  .signIn {
    text-align: center;
    &__form {
      @include styleCenTerMargin(90%);
      &__left {
        img {
          display: none;
        }
      }
    }
  }
}
