.users {
  height: auto;
  &__header {
    padding: 5px 10px;
    margin: 5px;
  }
  .icon {
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
  }

  .detail:hover {
    color: blue;
    transition: all 0.5s;
  }
  .del:hover {
    color: red;
    transition: all 0.5s;
  }
  .User__info {
    display: flex;
    align-items: center;
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: block;
    }
  }
}
