//variable color
$default-color-black: rgba(0, 0, 0, 0.6);
$color-orange-0: #fdae5c;
$color-white-0: white;
$color-black-0: rgba(255, 255, 255, 0.2);
$color-black-1: #363a4b;
$color-purple-0: #a64eee;
$color-blue-0: #3c35ce;
$color-blue-1: #6664d4;
$color-gray-0: #c7c7c7;

//variablel font-size
$default-fontsize: 16px;
$fontSize-1: 20px;
$fontSize-2: 25px;
$fontSize-3: 48px;
$fontSize-4: 60px;

//variable font-weight
$default-fontWeight: 400;
$fontWeight-1: 700;
$fontWeight-2: 900;

//variable padding
$padding-0: 0px;
$padding-1: 10px;
$padding-2: 15px;
$padding-3: 20px;
$padding-4: 30px;
$padding-5: 120px;

//variable margin
$margin-0: 0px;
$margin-1: 10px;
$margin-2: 15px;
$margin-3: 20px;
$margin-4: 30px;
$margin-5: 60px;
$margin-7: 120px;

//variable border-radius
$bdRad-0: 0px;
$bdRad-1: 10px;
$bdRad-2: 20px;
$bdRad-3: 50px;
$bdRad-circle: 50%;
