.layoutApp {
  display: flex;
  height: 150vh;
  width: 100%;
  .left {
    background-color: #001529;
    width: 100%;
    ul {
      width: 100%;
      text-align: center;
    }
  }
  .right {
    width: 100%;
  }
}
